<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <style>
        thead tr {
            background-color:#D3D3D3;
        }
        td {
            text-align:left;
        }

        tr.info {
            background-color:#C0C0C0;
        }

        tr.data {
            background-color:#F0F0F0;
        }


    </style>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>path</th>
                <th>tag</th>
                <th>classes</th>
                <th>role</th>
                <th>nearestRole</th>
            </tr>
            <tr>
                <th colspan=5>text</th>
            </tr>
        </thead>
        <tbody>
        {% for node in nodes %}
            <tr class="info">
                <td>{{node['path']}}</td>
                <td>{{node['nodeName']}}</td>
                <td>{{node['classList']|join(', ') if node['classList'] is not none else ''}}</td>
                <td>{{node['role'] if node['role'] is not none else ''}}</td>
                <td>{{node['nearestRole']|join(', ') if node['nearestRole'] is not none else ''}}</td>
            </tr>
            <tr class ="text">
                <td colspan=5>{{node.text}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>